<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>About us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/kerela/travel.png" sizes="16x16 32x32" type="image/png">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>

        </div>
    </div>
    <div class="page">


        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="106px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-outer">
                        <div class="rd-navbar-aside">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <!--Brand-->
                                    <img src="images/kerela/logo.png" alt="" width="225" height="18" />
                                </div>

                            </div>
                            <img src="images/kerela/travel.png" height="50" width="250" />
                            <div class="rd-navbar-aside-right rd-navbar-collapse">
                                <ul class="rd-navbar-corporate-contacts">
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                        </div>
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                 <img src="images/kerela/login.png" height="35" width="35">&nbsp;&nbsp;
                             <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #162E44;color:azure; border-radius:5px;" >
                                               <span>{{name}}</span> 
                                            </button>
                                            <div class="dropdown-menu" style="background-color: #DC3545;color:azure; border-radius:5px;">
                                                <a style="color:azure;" href="/logout">&nbsp;&nbsp;logout</a>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <div class="rd-navbar-nav-wrap">

                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/home">Home</a>
                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/about">About</a>
                                    </li>
                                    <li class="rd-nav-item "><a class="rd-nav-link" href="/car_rent">Car Rent</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/translator">Language Translator</a>
                                    </li>
                                    
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/packages">Tour Packages</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Breadcrumbs -->

        <!-- Why choose us-->
        <section class="section section-sm section-first bg-default text-md-left">
            <div class="container">
                <div class="row row-50 justify-content-center align-items-xl-center">
                    <div class="col-md-10 col-lg-5 col-xl-6"><img src="images/kerela/travel.png" alt="" width="519" height="564" />
                    </div>
                    <div class="col-md-10 col-lg-7 col-xl-6">
                        <h1 class="text-spacing-25 font-weight-normal ">About Paradise Tourism</h1>
                        <!-- Bootstrap tabs-->
                        <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
                            <!-- Nav tabs-->
                            <p>We are a online tourism company in kerala providing a 'best in class' customer experience with the goal to be 'kerala's tourism planner'. Through our site www.paradisetourism.com leisure and buisness travelers  
                                can explore, research and book a wide range of services.
                            </p>
                            <p>A strong and trusted tourism brand of kerala, our strength include a large and loyal customer base, a multi-platform for leisure and buisness tourism. A strong technology platform design to deliver a high level of scalability 
                                and innovation.
                            </p>
                            <p>
                                "Paradise" which means "Heaven" is one of most growing Kerala's tourism company . Thank's to Kerala's scenic beauty and loads of activities available ,
                                Kerala has been popular place for traveller since a very long time . The wealth of natural beauty in the form of placid Backwater lush greenery picturesque Hill towns,
                                and beautiful beaches as resulted in the name "God's Own Country". That's why the name of the company is Paradise Tourism.  
                            </p>
                            <!-- Tab panes-->
                            <div class="tab-content">

                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Team-->
        <section class="section section-sm section-last bg-default">
            <div class="container">
                <h3>Our Team</h3>

                <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">

                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/kerela/ravi.jpg" alt="" width="200" height="200" /></a>
                            
                            <h5 class="quote-lisa-cite">Ravi kumar Gupta</h5>
                            <p class="quote-lisa-status">Founder</p>
                        </div>
                    </article>

                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/kerela/amit.jpg" alt="" width="200" height="200" /></a>
                            
                            <h5 class="quote-lisa-cite">
                                Amit Yadav
                            </h5>
                            <p class="quote-lisa-status">Co-founder</p>
                        </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/kerela/Daulat.jpeg" alt="" width="200" height="200" /></a>
                           
                            <h5 class="quote-lisa-cite">Daulat Kumar</h5>
                            <p class="quote-lisa-status">Co-founder</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>



        <!-- Page Footer-->
        <footer class="section footer-corporate context-dark">
            <div class="footer-corporate-inset">
                <div class="container">
                    <div class="row row-40 justify-content-lg-between">
                        <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInRight" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Contact us</h6>
                                    <ul class="footer-contacts d-inline-block d-sm-block">
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:+91 7004460371">+91 7004460371</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                                                <div class="unit-body"><a class="link-aemail" href="mailto:gravi0970p@gmail.com">gravi0970p@gmail.com</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="https://www.google.co.in/maps/place/Silicon+Institute+of+Technology/@21.5797911,84.0436307,17z/data=!3m1!4b1!4m5!3m4!1s0x3a211a68e0107a59:0x29b1fa9dcb161615!8m2!3d21.5797911!4d84.0458194">
                                                Silicon Institute Of Technology, Sambalpur</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInDown" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Follow Us on</h6>
                                    <!-- Post Minimal 2-->
                                     <ul class="footer-contacts d-inline-block d-sm-block ">
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-facebook " href="https://m.facebook.com/Paradise-tourism-105243188376916/ " target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-twitter " href="https://twitter.com/ParadiseTouris1" target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-instagram " href="https://www.instagram.com/paradisetourism_kerala/" target="_blank"></a>
                                            </div>
                                        </div>

                                    </li>
                                   
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInLeft" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Quick links</h6>
                                    <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                                        
                                        <li><a href="/home">Home</a></li>
                                        <li><a href="/translator">Translator</a></li>
                                        <li><a href="/contact">Contact us</a></li>
                                        <li><a href="/logout">Log Out</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        </div>
        <!-- Global Mailform Output-->
        <div class="snackbars" id="form-output-global"></div>
        <!-- Javascript-->
        <script src="js/core.min.js"></script>
        <script src="js/script.js"></script>
</body>

</html>