<html> 
<title>Payment</title> 
<body> 
    <div style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;">
    <h3>Welcome to Payment Gateway</h3> 
    <form action="/honey1payment" method="POST"> 
    <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="{{key}}"
        data-amount="2999900" 
        data-currency="inr" 
        data-name="{{name}}" 
        data-description="Blissful Kerala Honeymoon Tour  Package Booking " 
        data-locale="auto" > 
        </script> 
    </form> 
    </div>
</body> 
</html>