<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Tour Packages-Paradise Tourism</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/kerela/travel.png" sizes="16x16 32x32" type="image/png">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/packages.css" >
</head>

<body background-color="grey">

    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>

        </div>
    </div>
    <div class="page">


        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="106px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-outer">
                        <div class="rd-navbar-aside">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <!--Brand-->
                                    <a class="brand" href="/home"><img src="images/kerela/logo.png" alt="" width="225" height="18" /></a>
                                </div>

                            </div>
                            <img src="images/kerela/travel.png" height="50" width="250" />
                            <div class="rd-navbar-aside-right rd-navbar-collapse">
                                <ul class="rd-navbar-corporate-contacts">
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                        </div>
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                 <img src="images/kerela/login.png" height="35" width="35">&nbsp;&nbsp;
                             <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #162E44;color:azure; border-radius:5px;" >
                                               <span>{{name}}</span> 
                                            </button>
                                            <div class="dropdown-menu" style="background-color: #DC3545;color:azure; border-radius:5px;">
                                                <a style="color:azure;" href="/logout">&nbsp;&nbsp;logout</a>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <div class="rd-navbar-nav-wrap">

                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/home">Home</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/car_rent">Car Rent</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/translator">Language Translator</a>
                                    </li>
                                    
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/packages">Tour Packages</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
       
       
            <div class="container">
                <br>
               <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Our Tour Plans</span></h3>  
                           

		<div class="section-margin-top">
			<div class="row">				
				<div class="tm-section-header">
					<div width="100%"><hr></div>
					<div><h2 class="tm-section-title">Budget Friendly Packages </h2></div>
					<div width="100%"><hr></div>
				</div>
                
                <b><br>
                <br>
                <br>
                <br>This Package Include 3 star Hotel.</b>

			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/munnar/Munnar.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h6><b>Hill & Jungle Safari tour package</b></h6></span></div>
                                 <span style="color: #016760;"><b>2D Munnar, 1D Wayanad</b></span></p></p>	
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Hotel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹ 9999 / Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								 <p style="font-size:13px;">4 Night / 5 Days</p>
                                
							</div>
							<a href="/budget1payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/thiruvanthapuram/padma.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h6><strong>Padmanabhaswamy Temple Tour</strong></h6></span></div>
                                 <span style="color: #016760;"><b>2D Trivandrum</b></span></p>	</p>	
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Hotel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹ 3,999/Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								 <p style="font-size:13px;">2 Days</p> 
                                
							</div>
							<a href="/budget2payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>	
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/beach.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h5><b>Beach Wonders</b></h5></span></div>
                                 <span style="color: #016760;"><b>2D Kochi, 1D Trivandrum</b></span></p>	
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Hotel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹ 11,999 / Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								 <p style="font-size:13px;">3 Night / 4 Days</p>
                                
							</div>
							<a href="/budget3payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>	
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/alleppey/Tour.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h5><b>Backwater Ripples</b></h5></span></div>
                                 <span style="color: #016760;"><b>3D Alleppey</b></span></p>		
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">House Boat</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹ 7,999 / Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								<p style="font-size:13px;">3 Days</p>
                                
							</div>
							<a href="/budget4payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/charismatickerala.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h5><b>Charismatic Kerala Family Holiday Package</b></h5></span></div>
                                 <span style="color: #016760;"><b>2D Alleppey, 2D Munnar, 2D Wayanad</b></span></p>	
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Hotel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹20,000/Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								<p style="font-size:13px;">5 Night / 6 Days</p>
                                
							</div>
							<a href="/budget5payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/combo.png" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h3>Combo</h3></span></div>
                                <span style="color: #016760;"><b>2D Thiruvananthapuram, 2D Kochi, 3D Munnar, 2D Alleppey, 2D Wayanad</b> </span></p>	
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Hotel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹ 45,599 / Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								<p style="font-size:13px;">10 Night / 11 Days</p>
                                
							</div>
							<a href="/budget6payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>
		</div>
	</section>		
	
	<!-- white bg -->
	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">				
				<div class="tm-section-header">
					<div width="100%"><hr></div>
					<div><h2 class="tm-section-title">Premium Packages </h2></div>
					<div width="100%"><hr></div>
				</div>
                <b><br><br><br>This Package Include 5 star Hotel or Luxury Resort.</b>
    </div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="tm-tours-box-2">						
						<img src="images/kerela/packages/seatip.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-2-info">
							<h3 class="margin-bottom-15">Southern Sea Trip</h3>
                            <span style="color: #016760;"><b>2D Trivandrum, 3D Kochi</b></span>
							<img src="images/kerela/offer.png" alt="image" class="margin-bottom-5">
							<p><p style="font-size:13px;">4 Night / 5 Days</p>
                            <h3>₹ 19,599 / Person</h3></p>		
						</div>						
						<a href="/premium1payment" class="tm-tours-box-2-link">Book Now</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="tm-tours-box-2">						
						<img src="images/kerela/packages/exotic.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-2-info">
							<h3 class="margin-bottom-15">Exotic Kerala</h3>
                             <span style="color: #016760;"><b>2D Alleppey, 2D Munnar, 1D Wayanad</b></span>
							<img src="images/kerela/offer.png" alt="image" class="margin-bottom-5">
							<p><p style="font-size:13px;">5 Night / 6 Days</p>
                            <h3>₹ 30,599 / Person</h3></p>	
						</div>						
						<a href="/premium2payment" class="tm-tours-box-2-link">Book Now</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="tm-tours-box-2">						
						<img src="images/kerela/packages/mistymunnar.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-2-info">
							<h3 class="margin-bottom-15">Misty Munnar</h3>
                            <span style="color: #016760;"><b>2D Munnar, 2D Kochi</b></span>
							<img src="images/kerela/offer.png" alt="image" class="margin-bottom-5">
							<p><p style="font-size:13px;">4 Night / 5 Days</p>
                            <h3>₹ 24,599 / Person</h3></p>	
						</div>						
						<a href="/premium3payment" class="tm-tours-box-2-link">Book Now</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="tm-tours-box-2">						
						<img src="images/kerela/packages/wayanad.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-2-info">
							<h3 class="margin-bottom-15">Land Of Peace And Tranquility Kerala</h3>
							<span style="color: #016760;"><b>2D Wayanad, 2D Trivandrum</b></span>
							<img src="images/kerela/offer.png" alt="image" class="margin-bottom-5">
							<p><p style="font-size:13px;">4 Night / 5 Days</p>
                            <h3>₹ 24,599 / Person</h3></p>		
						</div>						
						<a href="/premium4payment" class="tm-tours-box-2-link">Book Now</a>
					</div>
				</div>
			</div>
			
		</div>
	</section>
    <div class="row">				
				<div class="tm-section-header">
					<div width="100%"><hr></div>
					<div><h2 class="tm-section-title">Honeymoon Packages </h2></div>
					<div width="100%"><hr></div>
				</div>
                <b><br><br><br>This Package Include 5 star Hotel or Luxury Resort.</b>
    </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/h1.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h6><b>Blissful Kerala Honeymoon Tour Package</b></h6></span></div>
                                 <span style="color: #016760;"><b>3D Munnar, 3D Alleppey</b></span></p></p>	
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Hotel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹ 29,999 / Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								 <p style="font-size:13px;">6 Night / 7 Days</p>
                                
							</div>
							<a href="/honey1payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1 wow fadeInRight">
						<img src="images/kerela/wayanad/Tour.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"><div class="unit-left"><span><h6><b>Exotic Kerala Honeymoon Special</b></h6></span></div>
                                 <span style="color: #016760;"><b>3D Munnar, 2D Wayanad</b></span></p></p>	
								
							</div>
							<div class="tm-tours-box-1-info-right">
								
                                <table>
                                    
                                    <tr>
                                        <td><span class="fas fa-hotel"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Hotel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-coffee"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;position:relative;left:15px;">Breakfast</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-car"style="font-size: 20px;"></span></td>
                                        <td style="font-size: 20px;">Cab</td>
                                    </tr>
                                </table>

							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								₹ 22,999 / Person
							</div>
                            <div class="tm-tours-box-1-link-right">
								 <p style="font-size:13px;">4 Night / 5 Days</p>
                                
							</div>
							<a href="/honey2payment"class="button button-black-outline button-ujarak">
								Buy	This Plan					
							</a>							
						</div>
					</div>					
				</div>
                </div>
                
                
			</div>
            </div>
        </section>
</div>
        </section>



        <!-- Page Footer-->
        <footer class="section footer-corporate context-dark">
            <div class="footer-corporate-inset">
                <div class="container">
                    <div class="row row-40 justify-content-lg-between">
                        <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInRight" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Contact us</h6>
                                    <ul class="footer-contacts d-inline-block d-sm-block">
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:+91 7004460371">+91 7004460371</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                                                <div class="unit-body"><a class="link-aemail" href="mailto:gravi0970p@gmail.com">gravi0970p@gmail.com</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="https://www.google.co.in/maps/place/Silicon+Institute+of+Technology/@21.5797911,84.0436307,17z/data=!3m1!4b1!4m5!3m4!1s0x3a211a68e0107a59:0x29b1fa9dcb161615!8m2!3d21.5797911!4d84.0458194">
                                                Silicon Institute Of Technology, Sambalpur</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInDown" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Follow Us on</h6>
                                    <!-- Post Minimal 2-->
                                     <ul class="footer-contacts d-inline-block d-sm-block ">
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-facebook " href="https://m.facebook.com/Paradise-tourism-105243188376916/ " target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-twitter " href="https://twitter.com/ParadiseTouris1" target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-instagram " href="https://www.instagram.com/paradisetourism_kerala/" target="_blank"></a>
                                            </div>
                                        </div>

                                    </li>
                                   
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInLeft" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Quick links</h6>
                                    <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                                        <li><a href="/about">About us</a></li>
                                        <li><a href="/home">Home</a></li>
                                        <li><a href="/translator">Translator</a></li>
                                        <li><a href="/logout">Log Out</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
   
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>

 

  

  
	  			
	
	
	

		
	
	
