<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Paradise Tourism</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/kerela/travel.png" sizes="16x16 32x32" type="image/png">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateFunction"></script>
<script>function googleTranslateFunction() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
 </script> 
    <style>
        .shadow-textarea textarea.form-control::placeholder {
            font-weight: 300;
        }
        
        .shadow-textarea textarea.form-control {
            padding-left: 0.8rem;
        }
    </style>
</head>

<body>

    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>

        </div>
    </div>
    <div class="page">


        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="106px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-outer">
                        <div class="rd-navbar-aside">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <!--Brand-->
                                    <a class="brand" href="/home"><img src="images/kerela/logo.png" alt="" width="225" height="18" /></a>
                                </div>

                            </div>
                            <img src="images/kerela/travel.png" height="50" width="250" />
                            <div class="rd-navbar-aside-right rd-navbar-collapse">
                                <ul class="rd-navbar-corporate-contacts">
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                        </div>
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                 <img src="images/kerela/login.png" height="35" width="35">&nbsp;&nbsp;
                             <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #162E44;color:azure; border-radius:5px;" >
                                               <span>{{name}}</span> 
                                            </button>
                                            <div class="dropdown-menu" style="background-color: #DC3545;color:azure; border-radius:5px;">
                                                <a style="color:azure;" href="/logout">&nbsp;&nbsp;logout</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <div class="rd-navbar-nav-wrap">

                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/home">Home</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About</a>
                                    </li>
                                    <li class="rd-nav-item "><a class="rd-nav-link" href="/car_rent">Car Rent</a>
                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="translator">Language Translator</a>
                                    
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/packages">Tour Packages</a>
                                </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <br>
        <br>
       <div class="container">
          <h1 class="text-center">
              Translator
          </h1>
          <form action="/translator" method="post">
            <div class="form-group">
                <label for="speech">Write Text:</label>
                <textarea class="form-control" name="speech" required id="" cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="format">Select Language of Voice:</label>
                <select class="form-control" name="language" id="">
                    <option value="af">Afrikaans</option>
                    <option value="sq">Albanian</option>
                    <option value="ar">Arabic</option>
                    <option value="hy">Armenian</option>
                    <option value="ca">Catalan</option>
                    <option value="zh">Chinese</option>
                    <option value="hr">Croatian</option>
                    <option value="cs">Czech</option>
                    <option value="da">Danish</option>
                    <option value="nl">Dutch</option>
                    <option value="en" selected>English</option>
                    <option value="en-au">English (Australia)</option>
                    <option value="en-uk">English (United Kingdom)</option>
                    <option value="en-us">English (United States)</option>
                    <option value="eo">Esperanto</option>
                    <option value="fi">Finnish</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                    <option value="el">Greek</option>
                    <option value="ht">Haitian Creole</option>
                    <option value="hi">Hindi</option>
                    <option value="hu">Hungarian</option>
                    <option value="is">Icelandic</option>
                    <option value="id">Indonesian</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="ko">Korean</option>
                    <option value="la">Latin</option>
                    <option value="lv">Latvian</option>
                    <option value="mk">Macedonian</option>
                    <option value="no">Norwegian</option>
                    <option value="pl">Polish</option>
                    <option value="pt">Portuguese</option>
                    <option value="pt-br">Portuguese (Brazil)</option>
                    <option value="ro">Romanian</option>
                    <option value="ru">Russian</option>
                    <option value="sr">Serbian</option>
                    <option value="sk">Slovak</option>
                    <option value="es">Spanish</option>
                    <option value="es-es">Spanish (Spain)</option>
                    <option value="es-us">Spanish (United States)</option>
                    <option value="sw">Swahili</option>
                    <option value="sv">Swedish</option>
                    <option value="ta">Tamil</option>
                    <option value="th">Thai</option>
                    <option value="tr">Turkish</option>
                    <option value="vi">Vietnamese</option>
                    <option value="cy">Welsh</option>
                    <option value="ml">Malayalam</option>
                    <option value="bn">Bengali</option>

                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block" style="background-color: #016760; color:aliceblue">
                    Translate
                </button>
            </div>
            <div class="form-group">
                <label for="translated">Translated Text:</label>
                <textarea class="form-control" name="translated" id="" cols="30" rows="10">{{translated}}</textarea>
            </div>
        </form>
</div>
</section>

        <!-- Page Footer-->
        <footer class="section footer-corporate context-dark">
            <div class="footer-corporate-inset">
                <div class="container">
                    <div class="row row-40 justify-content-lg-between">
                        <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInRight" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Contact us</h6>
                                    <ul class="footer-contacts d-inline-block d-sm-block">
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:+91 7004460371">+91 7004460371</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                                                <div class="unit-body"><a class="link-aemail" href="mailto:gravi0970p@gmail.com">gravi0970p@gmail.com</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="https://www.google.co.in/maps/place/Silicon+Institute+of+Technology/@21.5797911,84.0436307,17z/data=!3m1!4b1!4m5!3m4!1s0x3a211a68e0107a59:0x29b1fa9dcb161615!8m2!3d21.5797911!4d84.0458194">
                                                Silicon Institute Of Technology, Sambalpur</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInDown" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Follow Us on</h6>
                                    <!-- Post Minimal 2-->
                                    <ul class="footer-contacts d-inline-block d-sm-block ">
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-facebook " href="https://m.facebook.com/Paradise-tourism-105243188376916/ " target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-twitter " href="https://twitter.com/ParadiseTouris1" target="_blank"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit ">

                                            <div class="unit-body ">
                                                <a class="icon fa fa-instagram " href="https://www.instagram.com/paradisetourism_kerala/" target="_blank"></a>
                                            </div>
                                        </div>

                                    </li>
                                   
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                            <div class="oh-desktop">
                                <div class="wow slideInLeft" data-wow-delay="0s">
                                    <h6 class="text-spacing-100 text-uppercase">Quick links</h6>
                                    <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                                        <li><a href="/about">About us</a></li>
                                        <li><a href="/home">Home</a></li>
                                        <li><a href="/translator">Translator</a></li>
                                        
                                        <li><a href="/logout">LogOut</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    
    <!-- Javascript-->
    
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>  


    